@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
color:var(--primarycolor);
}
:root{
    --primarycolor:#60A5FA;
}
#heading{
   text-align: center;
   font-weight: bold;
   font-size: 3rem;
   margin-top: 1rem;
}
#heading2{
   text-align: center;
   font-size: 2.2rem;
   margin-top: 3rem;
}
#uidlabel{
   text-align: center;
   margin-left: 32rem;
   font-size: 2rem;
   margin-bottom: 4rem;
   
}
#passlabel{
   text-align: center;
   margin-left: 32rem;
   font-size: 2rem;
}
#uid{
   margin-top: 3rem;
   border-radius: 0.4rem;
   border: solid var(--primarycolor);
   padding: 0.5rem;
}
#user{
    margin-top: 3rem;
    border-radius: 0.4rem;
    border: solid var(--primarycolor);
    padding: 0.5rem;
 }
#pass{
   margin-top: 3rem;
   border-radius: 0.4rem;
   border: solid var(--primarycolor);
   padding: 0.5rem;
}
#logbtn{
font-size: 1.5rem;
display: block;
background-color: white;
max-width: 150px;
color:var(--primarycolor);
font-size: 1.5rem;
margin: 3rem 32rem 2rem 40rem;
border-radius: 0.5rem;
border-color: var(--primarycolor);
}
#btn{
    font-size: 1.5rem;
    display: block;
    background-color: white;
    max-width: 150px;
    color:var(--primarycolor);
    font-size: 1.5rem;
    margin: 3rem 32rem 2rem 40rem;
    border-radius: 0.5rem;
    border-color: var(--primarycolor);
    }
#about{
   text-align: center;
   font-size: 1.4rem;
}
#heading3{
   text-align: center;
   font-size: 1.8rem;
}
#cashreg{
    font-size: 1.5rem;
    display:flex;
    background-color: var(--primarycolor);
    color: white;
    text-align: center;
    font-weight: bold;
    padding:0.7rem;
    padding-left: 1.9rem;
    margin: 2.3rem 34rem 1rem 35rem;
    border-radius: 0.6rem;
}
#logout{
    font-size: 1.5rem;
    display:flex;
    background-color: var(--primarycolor);
    color: white;
    text-align: center;
    font-weight: bold;
    padding:0.7rem;
    padding-left: 4.4rem;
    
    margin: 2.3rem 34rem 3rem 35rem;
    border-radius: 0.6rem;
}
#editprofile{
    font-size: 1.5rem;
    display:flex;
    background-color: var(--primarycolor);
    color: white;
    text-align: center;
    font-weight: bold;
    padding:0.7rem;
    padding-left: 1.9rem;
    margin: 2.3rem 34rem 1rem 35rem;
    border-radius: 0.6rem;
}
#sale{
    font-size: 1.5rem;
    display:flex;
    background-color: var(--primarycolor);
    color: white;
    text-align: center;
    font-weight: bold;
    padding:0.7rem;
    padding-left: 1.2rem;
    margin: 2.3rem 34rem 1rem 35rem;
    border-radius: 0.6rem;
}
